---
import Slide from "../../components/Slide.astro";
---

<section>
	<Slide>
		<h2>What do you mean by accessible?</h2>
	</Slide>

	<Slide sectionTitle="Defining accessibility">
		<p>Accessibility (sometimes referred to as a11y) is the design of products, devices, services, vehicles, or environments so as to be usable by people with disabilities.</p>
	</Slide>

	<Slide sectionTitle="Defining accessibility">
		<p>The concept focuses on enabling access for people with disabilities, or enabling access through the use of assistive technology; however, research and development in accessibility brings benefits to everyone.</p>
	</Slide>

	<Slide sectionTitle="Defining accessibility">
		<h2>Why a11y matters?</h2>
	</Slide>

	<Slide sectionTitle="Defining accessibility" subSectionTitle="Why a11y matters?">
		<ul>
			<li>For users: Improved access and usability</li>
			<li class="fragment">For businesses: Broader reach, compliance, and better user experience</li>
			<li class="fragment">For developers: Improved coding practices and design thinking</li>
		</ul>
	</Slide>

	<Slide sectionTitle="Defining accessibility">
		<h2>Who are those users with disabilities?</h2>
	</Slide>

	<Slide sectionTitle="Defining accessibility" subSectionTitle="Who are those users with disabilities?">
		<p>Everyone.</p>
	</Slide>


	<Slide sectionTitle="Defining accessibility" subSectionTitle="Who are those users with disabilities?">
		<blockquote>"I'm not doing accessibility for others, I'm doing it for myself."</blockquote>
		<p>— Jérémie Patonnier, a11y advocate @ Zenika <em>(almost accurate quote)</em></p>
	</Slide>
	<Slide sectionTitle="Defining accessibility">
		<h2>Types of disabilities</h2>
	</Slide>
	<Slide>
		<img src="/public/colorblind.jpg" alt="a color blind test"/>
	</Slide>

	<Slide sectionTitle="Defining accessibility" subSectionTitle="Types of disabilities">
		<h3>Different categories of disabilities</h3>
	</Slide>

	<Slide sectionTitle="Defining accessibility" subSectionTitle="Types of disabilities">
		<h3>Different categories of disabilities</h3>
		<ul>
			<li>Visual: Low vision, blindness, color blindness</li>
			<li class="fragment">Auditory: Hearing impairments and deafness</li>
			<li class="fragment">Motor: Limited dexterity or mobility issues</li>
			<li class="fragment">Cognitive: Dyslexia, ADHD, memory issues</li>
		</ul>
	</Slide>

	<Slide sectionTitle="Defining accessibility" subSectionTitle="Types of disabilities">
		<p>Impairement can also be temporary or situational disabilities</p>
		<ul>
			<li class="fragment">Visual: no glasses, very bright sunlight</li>
			<li class="fragment">Auditory: very noisy environment, tinnitus</li>
			<li class="fragment">Motor: injured hand, holding something</li>
			<li class="fragment">Cognitive: tired, under heavy medication</li>
		</ul>
	</Slide>

	<Slide>
		<img src="/public/spectrum.jpg" alt="variety of permanent, temporary or situational impairments" />
	</Slide>
</section>
