---
import Slide from "../../components/Slide.astro";
---

<section>
	<Slide>
		<h2>Q&A</h2>
		<img src="/building-accessible-ui/elephant-ear.jpg" alt="In 1969, elephants near Heathrow in London were given earmuffs to protect them from noise." />
	</Slide>
	<Slide>
		<h2>Thanks!</h2>
	</Slide>
</section>
