---
import Slide from "../../components/Slide.astro";
import CodeSource from "../../components/CodeSource.astro";
---

<section>
	<Slide>
		<h2>Q&A</h2>
		<img src="/building-accessible-ui/elephant-ear.jpg" alt="In 1969, elephants near Heathrow in London were given earmuffs to protect them from noise." />
		<CodeSource url="https://github.com/thuchede/building-accessible-ui" name="Source code for this presentation"/>
	</Slide>
	<Slide>
		<h2>Thanks!</h2>
		<CodeSource url="https://github.com/jsulpis/slides-template" name="Original template by Julien Sulpis"/>
	</Slide>
</section>
