---
import Slide from "../../components/Slide.astro";
---

<section>
	<Slide>
		<h1>Additional resources</h1>
	</Slide>
	<Slide>
		<h2>Case studies:</h2>
		<ul>
			<li><a href="https://technology.blog.gov.uk/2020/02/24/why-the-gov-uk-design-system-team-changed-the-input-type-for-numbers/">Why the GOV.UK Design System team changed the input type for numbers</a></li>
			<li><a href="https://a11yup.com/articles/discord-accessibility-in-web-apps-done-right">Discord: Accessibility in Web Apps Done Right</a></li>
		</ul>
	</Slide>

	<Slide sectionTitle="Additional resources">
		<h2>Shift left:</h2>
		<ul>
			<li>Integrate a11y in the process from the beginning, not as a second thought</li>
			<li>Collaboration between designer/devs/qa/po</li>
			<li>Audits (manual or automated) => easy to comply to regulation</li>
		</ul>
	</Slide>

	<Slide sectionTitle="Additional resources">
		<h2>DX</h2>
		<ul>
			<li>Code quality: more maintainable code base</li>
			<li>Testing tools: testing lib</li>
			<li>Personal growth: new skill</li>
		</ul>
	</Slide>

	<Slide sectionTitle="Additional resources">
		<h2>Using UI libs</h2>
	</Slide>

	<Slide sectionTitle="Additional resources">
		<h2>Using UI libs</h2>
		<h3>Can be a mixed bag quality-wise</h3>
	</Slide>

	<Slide sectionTitle="Additional resources" subSectionTitle="Using UI libs">
		<ul>
			<li><a href="https://getbootstrap.com/">Bootstrap</a></li>
			<li><a href="https://www.primefaces.org/">Primefaces</a></li>
			<li><a href="https://mui.com/">Material UI</a></li>
			<li><a href="https://www.chakra-ui.com/">Chakra UI</a></li>
			<li><a href="https://mantine.dev/">Mantine UI</a></li>
			<li><a href="https://vuetifyjs.com/en/">Vuetify</a></li>
		</ul>
	</Slide>

	<Slide sectionTitle="Additional resources" subSectionTitle="Using UI libs">
		Good set of primitive
		<ul>
			<li><a href="https://www.radix-ui.com/">Radix</a></li>
				<ul><li><a href="https://ui.shadcn.com/">Shadcn</a></li></ul>
			<li><a href="https://react-spectrum.adobe.com/react-aria/">React Aria</a></li>
			<li><a href="https://headlessui.com/">HeadlessUI</a></li>
		</ul>
	</Slide>

	<Slide sectionTitle="Additional resources">
		<ul>
			<li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG</a></li>
			<li><a href="https://www.w3.org/WAI/ARIA/apg/patterns/">ARIA</a></li>
			<li><a href="https://www.deque.com/axe/">Axe devtools</a></li>
			<li><a href="https://www.funkify.org/">Funkify</a></li>
			<li><a href="https://web.dev/learn/accessibility">web.dev</a></li>
			<li><a href="https://inclusive.microsoft.design/">Microsoft Inclusive Design</a></li>
		</ul>
	</Slide>
</section>
